.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}


.navbar-lewagon .nav-link {
  margin-right: 10px;
}

#navbar-title {
  margin-top: 5px;
  font-size: 18px;
  font-family: 'sans-serif'
}

.navbar-name {
  font-size: 24px;
  margin-block-end: 0;
  margin-left: 45px;
}
