<h1><%= @centre.name %></h1>

<%= link_to 'Retour', centres_path %>
<%= link_to 'Modifier', edit_centre_path(@centre) %>
<%= link_to 'Supprimer', centre_path(@centre), method: :delete, data: { confirm: "Are you sure?" } %>



